In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../shant/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.shape

(150, 6)

In [5]:
df.shape

(150, 6)

In [6]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [7]:
df1=df.drop('PetalLengthCm',axis=1)

In [8]:
df1.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalWidthCm', 'Species'], dtype='object')

In [9]:
str_col=['Id','SepalLengthCm','SepalWidthCm','PetalWidthCm','Species']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
labelencoder = LabelEncoder()

In [12]:
for i in str_col:
    df1[i]=labelencoder.fit_transform(df1[i])

In [13]:
df1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalWidthCm  Species
0   0              8            14             1        0
1   1              6             9             1        0
2   2              4            11             1        0
3   3              3            10             1        0
4   4              7            15             1        0
5   5             11            18             3        0
6   6              3            13             2        0
7   7              7            13             1        0
8   8              1             8             1        0
9   9              6            10             0        0

In [14]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [15]:
df1=df.drop('PetalLengthCm',axis=1)

In [16]:
df1.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalWidthCm', 'Species'], dtype='object')

In [17]:
str_col1=['Id','SepalLengthCm','SepalWidthCm','PetalWidthCm','Species']

In [18]:
for i in str_col1:
    df1[i]=labelencoder.fit_transform(df1[i])

In [19]:
df1.shape

(150, 5)

In [20]:
df1.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    int64
 2   SepalWidthCm   150 non-null    int64
 3   PetalWidthCm   150 non-null    int64
 4   Species        150 non-null    int32
dtypes: int32(1), int64(4)
memory usage: 5.4 KB

In [22]:
Xtrain = df1.iloc[: ,0:4]

In [23]:
Xtrain

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm
0      0              8            14             1
1      1              6             9             1
2      2              4            11             1
3      3              3            10             1
4      4              7            15             1
..   ...            ...           ...           ...
145  145             24             9            19
146  146             20             4            15
147  147             22             9            16
148  148             19            13            19
149  149             16             9            14

[150 rows x 4 columns]

In [24]:
Ytrain = df1.iloc[: , 4]

In [25]:
Ytrain

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [26]:
Xtest = df1.iloc[ : ,0:4]

In [27]:
Xtest

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm
0      0              8            14             1
1      1              6             9             1
2      2              4            11             1
3      3              3            10             1
4      4              7            15             1
..   ...            ...           ...           ...
145  145             24             9            19
146  146             20             4            15
147  147             22             9            16
148  148             19            13            19
149  149             16             9            14

[150 rows x 4 columns]

In [28]:
Ytest = df1.iloc[ : ,4]

In [29]:
Ytest

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [30]:
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [31]:
salary_MB = MB()

In [32]:
salary_MB.fit(Xtrain,Ytrain)

MultinomialNB()

In [33]:
y_pred = salary_MB.predict(Xtest)

In [34]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [35]:
acc = accuracy_score(Ytest, y_pred) * 100
print("Accuracy =", acc)

Accuracy = 71.33333333333334

In [36]:
confusion_matrix(Ytest, y_pred)

array([[48,  1,  1],
       [ 0, 26, 24],
       [ 0, 17, 33]], dtype=int64)

In [37]:
from sklearn.metrics import classification_report

In [40]:
print(classification_report(Ytest,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        50
           1       0.59      0.52      0.55        50
           2       0.57      0.66      0.61        50

    accuracy                           0.71       150
   macro avg       0.72      0.71      0.71       150
weighted avg       0.72      0.71      0.71       150

In [41]:
salary_GB = GB()

In [42]:
salary_GB.fit(Xtrain,Ytrain)

GaussianNB()

In [43]:
y_pred = salary_GB.predict(Xtest)

In [44]:
y_pred = salary_GB.predict(Xtest)

In [45]:
acc = accuracy_score(Ytest, y_pred) * 100
print("Accuracy =", acc)

Accuracy = 99.33333333333333

In [46]:
confusion_matrix(Ytest, y_pred)

array([[50,  0,  0],
       [ 0, 50,  0],
       [ 0,  1, 49]], dtype=int64)

In [47]:
print(classification_report(Ytest,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       0.98      1.00      0.99        50
           2       1.00      0.98      0.99        50

    accuracy                           0.99       150
   macro avg       0.99      0.99      0.99       150
weighted avg       0.99      0.99      0.99       150