In [6]:
import pandas as pd
import sklearn as sklearn
import matplotlib as pyplot
import numpy as np

In [7]:
df = pd.read_csv('winequality-red.csv')

In [8]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [9]:
df = df.drop(columns=['id'])

KeyError: "['id'] not found in axis"

In [ ]:
data

      age  income  Gender maritial_status buys
0     <21    High    Male          Single   No
1     <21    High    Male         Married   No
2   21-35    High    Male          Single  Yes
3     >35  Medium    Male          Single  Yes
4     >35     Low  Female          Single  Yes
5     >35     Low  Female         Married   No
6   31-35     Low  Female         Married  Yes
7     <21  Medium    Male          Single   No
8     <21     Low  Female         Married  Yes
9     >35  Medium  Female          Single  Yes
10    <21  Medium  Female         Married  Yes
11  21-35  Medium    Male         Married  Yes
12  21-35    High  Female          Single  Yes
13    >35  Medium    Male         Married   No

In [ ]:
data.to_csv ("Test.csv", 
                  index = None,
                  header=True)

In [ ]:
data = pd.DataFrame(pd.read_csv("Test.csv"))

In [ ]:
data

      age  income  Gender maritial_status buys
0     <21    High    Male          Single   No
1     <21    High    Male         Married   No
2   21-35    High    Male          Single  Yes
3     >35  Medium    Male          Single  Yes
4     >35     Low  Female          Single  Yes
5     >35     Low  Female         Married   No
6   31-35     Low  Female         Married  Yes
7     <21  Medium    Male          Single   No
8     <21     Low  Female         Married  Yes
9     >35  Medium  Female          Single  Yes
10    <21  Medium  Female         Married  Yes
11  21-35  Medium    Male         Married  Yes
12  21-35    High  Female          Single  Yes
13    >35  Medium    Male         Married   No

In [ ]:
x = data.iloc[:,:-1]
y = data.iloc[:,4].values

In [ ]:
y

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()

In [ ]:
x = x.apply(LabelEncoder().fit_transform)
print(x)

    age  income  Gender  maritial_status
0     2       0       1                1
1     2       0       1                0
2     0       0       1                1
3     3       2       1                1
4     3       1       0                1
5     3       1       0                0
6     1       1       0                0
7     2       2       1                1
8     2       1       0                0
9     3       2       0                1
10    2       2       0                0
11    0       2       1                0
12    0       0       0                1
13    3       2       1                0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
regressor = DecisionTreeClassifier()
regressor.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [ ]:
x_in = np.array([1,1,0,0])

y_pred=regressor.predict([x_in])
print("Prediction", y_pred)

Prediction ['Yes']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
!pip install six

Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (1.15.0)

In [ ]:
import six

In [ ]:
import sys

In [ ]:
sys.modules['sklearn.externals.six'] = six

In [ ]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(regressor, out_file=dot_data, filled=True, rounded=True, special_characters = True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

graph.write_png('tree.png')

True